<div data-sly-test="${properties.myImageTopPath}" class="image-container">
    <img src="${properties.myImageTopPath}" alt="Image">
</div>

<div>

    <a data-sly-test="${(properties.jcr:buttonlink && properties.myImageTopPath && properties.jcr:buttontitle)}"
       href="https://${properties.jcr:buttonlink}" target="_blank">
        <button>${properties.jcr:buttontitle}</button>
    </a>

    <a data-sly-test="${(!properties.jcr:buttonlink || !properties.myImageTopPath || !properties.jcr:buttontitle)}">
        <button disabled>${properties.jcr:buttontitle ? properties.jcr:buttontitle : 'Button title by deafault'}</button>
    </a>

</div>

<div class="text-container">
    <p>${properties.jcr:text}</p>
</div>